/*==================Specification of style_global==================*/
.nav_lang a {
	color:rgb(0, 198, 119);
}
.nav_page li:hover {
  background:linear-gradient(#2ff197, #37cff5);
}
  
  /*==================Content==================*/
.main {
  background-color: #000000;
  min-width:1100px;
}

.main_section {
  width:100%;
  height: 55rem;
  background-size:cover;
  background-position: center;
  transition:0.5s;
}
.main_section.active{
  opacity: 0.3;
  transition:0.5s;
}
.game_container {
  margin:0 10% 0 10%;
  height: 94%;
  padding:3% 3% 3% 3%;
}
.game_container h1 {
  font-size: 5rem;
  text-shadow: #000000;
}
.game_container p {
  font-size: 1.4rem;
}
.geckolotLinks img {
	height:100%;
	width:auto;
	vertical-align: middle;
	margin-right: 0.5em;
}
.geckolotLinks {
	border-radius:2mm;
	font-size: 200%;
	text-decoration: none;
	color:white;
  display: inline-block;
  width:10em;
  text-align:center;
  margin:0.8em;
  height:3em;
}
.geckolotLinks:hover {
	opacity: 0.9;
}
.blobArtLinks {
  background-color: rgba(148, 77, 44, 0.767);
	padding: 1em 0 1em 0;
	border-radius:2mm;
	font-size: 200%;
	text-decoration: none;
	color:white;
  display: inline-block;
  width:10em;
  text-align:center;
  margin:0.8em;
  height:1em;
}
.blobArtLinks:hover {
	background-color: rgba(148, 77, 44, 0.7);
}
.alterMazeLinks {
  background-color: rgba(57, 27, 148, 0.767);
	padding: 1em 0 1em 0;
	border-radius:2mm;
	font-size: 200%;
	text-decoration: none;
	color:white;
  display: inline-block;
  width:10em;
  text-align:center;
  margin:0.8em;
  height:1em;
}
.alterMazeLinks:hover {
	background-color: rgba(57, 27, 148, 0.767);
}
.dungeonSLinks {
  background-color: rgba(11, 54, 109, 0.7);
	padding: 1em 0 1em 0;
	border-radius:2mm;
	font-size: 200%;
	text-decoration: none;
	color:white;
  display: inline-block;
  width:10em;
  text-align:center;
  margin:0.8em;
  height:1em;
}
.dungeonSLinks:hover {
	background-color: rgba(11, 54, 109, 0.7);
}
.gameDescription {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  margin: 1em;
  color:white;
  width:70%;
  display: inline-block;
}
